.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 500px;
    height: 300px;
    background-color: rgb(155, 155, 155);
    flex-direction: row;
    justify-content: space-between; 
}

.flex-item1 {
    background-color:rgb(15, 43, 255);
    margin: 10px;
    height: 70px;
    width: 80px;
    align-self: flex-start; 
}

.flex-item2 {
    background-color: rgb(15, 43, 255);
    margin: 10px;
    width: 80px;
    height: 70px;
    align-self: flex-end; 
}
.flex-item3 {
    background-color:  rgb(15, 43, 255);
    margin: 10px;
    width: 80px;
    height: 70px;
    align-self: center;  
}
.flex-item4 {
    background-color:  rgb(15, 43, 255);
    margin: 10px;
    width: 80px;
    height: 70px;
    align-self: baseline;  
}
.flex-item5 {
    background-color:  rgb(15, 43, 255);
    margin: 10px;
    width: 80px;
    align-self: stretch;  
}


body {
    direction: ltr;
}